body {
    padding: 0;
    margin: 0;
    font-family: Courier, monospace;
    color: white;
    background: linear-gradient(90deg, #03001C 0%, #301E67 100%);
        
}

.firstPage {
    /* 86bbd8 */
    /* background-color: #03001C; */
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, #2c3e50 35%, #2f4858 100%); */

    height:  100vh;
    width: 100%;
    color: white;
}

.shortDescription{
    align-items: center;
    text-align: center;
    padding-top: 20vh;   
}

.myAvatar {
    display: inline-block;
    vertical-align: middle;
    background-color: bisque;
    width: 400px;
    height: 400px;
    border-radius: 35%;
    background-image: url("Myavater.jpg");
    background-size: contain;
}
.myName {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4em;
    line-height: 1em;
    text-align: left;
    padding-left: 20px;
}


.secondPage {

    /* background-color: #301E67; */
    height: 100vh;
    width: 100%;
    margin-top: 0px;
}

.secondPageHolder{
    padding-top: 20vh;
    align-items: center;
    display: flex;
    height: 60vh;
}

.title{
    font-size: 4em;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.secondPageImageHolder{
    /* background-color: #f26419; */
    width: 300px;
    height:300px;
    margin-left:150px;
    border-radius: 30%;
    background-image: url("yo-removebg-preview.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: space;
}

.whoIAm {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    width: 50vw;
    height:fit-content;
    font-size: 0.7em;
    line-height:3em;
}

.thirdPage {
    height:  100vh;
    width: 100%;
}

.thirdPageHolder{
    padding-top: 15vh;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    /* background-color: #cbcdcf; */
    width: 70%;

}

.mySkills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: aqua; */
}
.skill{
    width: 70px;
    height: 70px;
    /* background-color: #2f4858; */
    /* border-radius: 30%; */
    font-size: 0.6em;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    background-size: contain;
}

.fourthPage {
    height:  fit-content;
    width: 100%;
    /* margin-top: 0px; */
}

.fourthPageHolder{
    padding-top: 15vh;
    padding-bottom: 15vh;
    /* display: flex; */
    margin-left: auto;
    margin-right: auto;
    /* width: fit-content; */
    /* background-color: #cbcdcf; */
    width: 80%;

}

.myWorks{
    display: flex  ;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: aqua; */
}

.work{
    display: block;
    width: 350px;
    height: 400px;
    /* background-color: #2f4858; */
    /* background-color: #5B8FB9; */
    /* border-radius: 30%; */
    font-size: 0.6em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background-size: contain;
    text-align: center;
    border-radius: 5%;
}

.workImage{
    width: 100%;
    height: 70%;
    border-radius: 5%;
    background-size: contain;
    background-color: #03001C;
    background-position: center;
    background-repeat: space;
}

.workTitle{
    width: 100%;
    /* height: 10%; */
    /* background-color: #f26419; */
    text-align: center;
    font-size: 2.2em;
    /* line-height: 1em; */
    /* color: white; */
}


.button-63 {
  align-items: center;
  background-color:  #f6ae2d;
  border: 0;
  width: 130px;
  height: 55px;
  border-radius: 8px;
  box-shadow: rgba(196, 13, 13, 0.2) 0 15px 30px -5px;
  color: #FFFFFF;
  font-family: Courier, monospace;
  font-size: 2.6em;
  text-decoration: none;
  cursor: pointer;
}

.button-63:active,
.button-63:hover {
  outline: 0;
}

.fifthPage {
    /* background-color: #2f4858; */
    height:  fit-content;
    width: 100%;
    /* margin-top: 0px; */
}
.fifthPageHolder{
    /* padding-top: 5vh; */
    padding-bottom: 30vh;
    /* display: flex; */
    margin-left: auto;

    margin-right: auto;
    width: 80%;
}

.contactMe{
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contact{
    width: fit-content;
    height: 200px;
    display: block;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
}

.contactImage{
    width: 120px;
    height: 120px;
    background-size: fit-content;
    background-position: center;
    background-repeat: space;
}

.contactTitle{
    width: 100%;
    text-align: center;
    margin-top: 0px;
}